.day{
    height: 72vh;
    width: 100%;
    margin: 0 1px;
}
.shift {
    width: 100%;
    margin: 1px 0;
}
.day-date{
    width: 100%;
}
.hours{
    height: 72vh;
}
.hours>table>tbody>tr>td {
    font-size: .7rem;
    box-sizing: border-box;
    color: #fff;
}
.hours>table>tbody>tr {
    border-top: solid 1px #fff;
}
.hours>table {
    height: 100%;
}
.hours>table>tbody {
    height: 100%;
}
.lasttr{
    border-bottom: solid 1px #fff;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) { 
    .day{
        width: 14.7%;
    }
    .day-date{
        width: 14.7%;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}