<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Role</th>
        <th>ID#</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let user of replaceMe">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.id}}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(user)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  <button class="btn btn-info" (click)="create(user)">New Employee</button>
  