<section class="container d-flex justify-content-center">
<p *ngIf="lastStatus === 400">Username or password is incorrect.</p>
<p *ngIf="lastStatus === 500">Unknown server error occurred.</p>
<p *ngIf="lastStatus === 0">Server unreachable.</p>
    
    <!-- <div class="col-3 d-flex justify-content-center " style="max-width: 40rem;"> -->
  <div id="login-wrapper" class="col-12 col-md-9 col-lg-6 bg-primary">
    <div class="form-group d-flex justify-content-center flex-wrap">
      <label class="form-control-label text-white col-12" for="username">Enter Username:</label>
      <input [className]="validationClassesForUser()" type="text" [(ngModel)]="username">
     <!-- <div class="valid-feedback">Success! You've done it.</div> -->
   
    </div>
    <div class="form-group has-danger d-flex justify-content-center flex-wrap">
      <label class="form-control-label text-white col-12" for="password">Enter Password</label>
      <input [className]="validationClassesForPassword()" type="password" [(ngModel)]="password">
      <!-- <div class="invalid-feedback">Sorry, that username's taken. Try another?</div> -->
    </div>
  
  <div class="d-flex justify-content-center col-12">
    <input class="btn btn-outline-light" type="submit" [disabled]="!(userValid() && passwordValid())" (click)="submit()">
  </div>

</div>
</section>

