<div>
  <div *ngIf="!(loginAttemptSucceeded === undefined)">
    <div *ngIf="!loginAttemptSucceeded">Username already taken.</div>
    <div *ngIf="loginAttemptSucceeded">Account registered.</div>
  </div>

  <label for="username">Enter Username:</label>
  <p>Username: {{username | trimPipe}}</p>
  <input type="text" id="username" [(ngModel)]="username">

  <label for="password">Enter Password</label>
  <input type="password" id="password" [(ngModel)]="password">

  <label for="passwordConfirmation">Confirm Password:</label>
  <input type="password" id="passwordConfirmation" [(ngModel)]="passwordConfirmation">

  <input type="submit" [disabled]="!formValidation()" (click)="submit()">
</div>